.contact-info,.location-info{
    margin-top:45px;
}
.h-cont,.h-find{
    padding:0;
}
.contact-info{
    padding-bottom: 45px;
}
.info{
    margin-top: 70px;
    
p{
    font-size: 16px;
        
    }
a{
    font-size: 20px;
    color:#6f7784;
}
a:hover {
    color: #4f555e;
    text-decoration: none;
}
    }
#map{
    width:400px;
    height:200px;
}
@media all and (max-width: 500px) { 
#map{
    width:290px;
    height:200px;
}
}
